.parallax-bg {
    /* background-image: url("https://images.pexels.com/photos/1036856/pexels-photo-1036856.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"); */
    /* background-image: url("https://images.pexels.com/photos/1972115/pexels-photo-1972115.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"); */
    background-image: url("https://scontent-cph2-1.xx.fbcdn.net/v/t1.0-9/61635763_2039231459719593_2924034015952371712_o.jpg?_nc_cat=104&_nc_sid=730e14&_nc_ohc=gx_mPjFkyBoAX_hmiF0&_nc_ht=scontent-cph2-1.xx&oh=c7abee3933a7f1109c31ebcb937c2fd1&oe=5EEE6E3B");
    position: absolute;
    left: 0;
    top: 0;
    width: 130%;
    height: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
}

.swiper-pagination-bullet-active {
    background: white;
}
.swiper-button-next,
.swiper-button-prev {
    color: white;
}
.swiper-button-next::after,
.swiper-button-prev::after
 {
    opacity: .5;
    font-size: 1.2rem;
    font-weight: 900;
}
  