:root {
    --swiper-theme-color: white;
}

.swiper-slide {
 min-height: 70vh;
}

.swiper-button-next::after,
.swiper-button-prev::after {
   font-size: 1.5rem;
}

.swiper-pagination-bullet {
    height: .75rem;
    width: .75rem;
}