.swiper-container {
    width: 100%;
  }

  .swiper-slide {
    /* background-position: center;
    background-size: cover; */
    width: 300px;
    height: 300px;
  }

  .swiper-slide-insta {
    min-height: 100%;
   }

   .swiper-slide-insta-infobox {
     display: grid;
     place-content: center;
     background-color: black;
   }