.swiper-container {
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .swiper-slide {
    /* background-position: center;
    background-size: cover; */
    width: 300px;
    height: 300px;
  }